<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274527255229-7u68g92lkqj2sf0u6266dfsosd2l6k9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274527255229-7u68g92lkqj2sf0u6266dfsosd2l6k9t</string>
	<key>API_KEY</key>
	<string>AIzaSyBM3p1bPT9pzQuD-V0SEzRn3VA1-3oLo1w</string>
	<key>GCM_SENDER_ID</key>
	<string>274527255229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hearing.aid.app.amplifier.Hearing-Aid-App</string>
	<key>PROJECT_ID</key>
	<string>hearing-aid-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hearing-aid-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:274527255229:ios:02b8856590ea51155095d4</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-9752109323987437~8505121221</string>
</dict>
</plist>
